* {
    margin: 0;
    padding: 0;
}

.tab-container-1 {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
    color: antiquewhite;   
}

.tab-container-1 div:hover  {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.pestanyes {
    background-color: rgb(21, 18, 56);
}

.nav-button-1 {
    border-radius: 4px;
    padding: 10px;
}

.nav-button-2 {
    border-radius: 10px;
    padding: 12px;
    background-color: orangered;
    color: white;
}

.button-PP {
   
}

.log-button {
    border-radius: 30px;
    padding: 20px;
    align-items: start;
}

#showcase {
    background-image: url(../img/img_blog1.jpeg);
    height: 40vh;
    background-position: center;
    background-size: cover;
}

h1 {
    color: white;
}

p {
    color: white;
    line-height: 10px;
}
