* {
    margin: 0;
    padding: 0;
}

.tab-container-1 {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
    color: antiquewhite;   
}

.tab-container-1 div:hover  {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.pestanyes {
    background-color: rgb(21, 18, 56);
}

.nav-button-1 {
    border-radius: 4px;
    padding: 10px;
}

.nav-button-2 {
    border-radius: 10px;
    padding-right: 12px;
    padding-left: 12px;
    background-color: orangered;
    color: white;
}

.nav-button-3 {
    border-radius: 10px;
    padding-left: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 75px;
    background-color: orangered;
    color: white;
}

.log-button {
    border-radius: 30px;
    padding: 20px;
    align-items: start;
}

#showcase {
    background-image: url(../img/img_blog1.jpeg);
    height: 40vh;
    background-position: center;
    background-size: cover;
    color: white;
}

h1 {
    color: white;
}

.part-1 {
    padding-left: 10px;
    color: black;
}

.color-txt {
    color: orangered;
}

.contain1 {
    padding: 45px;
}
.contain2 {
    background-color: rgb(245, 106, 118);
    color: white;
    padding: 45px;;
}

.img-2 {
   border-radius: 7px;
}

.img-3 {
    border-radius: 50%;
    
}

.container {
    border-radius: 7px;
    background-color: aliceblue;
    padding: 10px;
}
